<strong class='task-completion'>
  <div class="completion-icon icon transparent" data-task-id="<%= task.id %>">
  </div>
</strong>

<strong class='task-assignment'>
  <div class="assignment-icon icon transparent" data-task-id="<%= task.id %>"><i class="fa fa-user"></i></div>
</strong>

<form class="task-form">
  <input class="task-title-input"
         type="text" name="task[title]"
         value="<%= task.escape('title') %>"
         autocomplete="off"
         data-task-id="<%= task.id %>"
         placeholder="Make or edit a task, hit return to submit...">
</form>

<strong class='task-deletion'>
  <div class="deletion-icon icon transparent" data-task-id="<%= task.id %>">✘</div>
</strong>
