<strong class='task-completion'>
  <div class="completion-icon" data-task-id="<%= task.id %>">
  </div>
</strong>

<strong class='task-assignment'>
  <div class="assignment-icon" data-task-id="<%= task.id %>">☻</div>
</strong>

<form class="task-form">
  <input class="task-title-input"
         type="text" name="task[title]"
         value="<%= task.escape('title') %>"
         data-task-id="<%= task.id %>"
         placeholder="New task here, hit return to submit...">
</form>

<strong class='task-deletion'>
  <div class="deletion-icon" data-task-id="<%= task.id %>">✘</div>
</strong>
