<figure class="avatar">
  <img src="<%= author.escape('avatar') %>"
       alt="<%= Trak.Utils.imageName(author) %>" />
</figure>

<div class="comment-item-text-container">
  <strong><%= author.escape('name') %></strong>
  <p><%= comment.escape('content') %></p>
  <small><%= comment.escape('created_at') %></small>
</div>
