<figure class="avatar">
  <img src="<%= author.escape('avatar') %>"
       alt="<%= Trak.Utils.imageName(author) %>" />
</figure>

<div class="comment-item-text-container">
  <strong class="author-name"><%= author.escape('name') %></strong>
  <% if (author.id === Trak.currentUser.id) { %>
    <div class="comment-deletion transparent">×</div>
  <% } %>
  <p><%= comment.escape('content') %></p>
  <small class="timestamp"><%= comment.escape('created_at') %></small>
</div>
