<!DOCTYPE html>
<html>
<head>
  <title>Trak</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- have a partial for additional things to display. Can case sign-in there -->
<% if logged_in? %>
  <li>
    <%= button_to "Sign out", session_url, method: :delete, class: "navbar-button" %>
  </li>
<% end %>
<%= yield %>

</body>
</html>
